<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdkRf16WBtP3wTpHJgO6RvhgAeOLtW6_I</string>
	<key>GCM_SENDER_ID</key>
	<string>984654950987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clovara.app</string>
	<key>PROJECT_ID</key>
	<string>pet-underwriter-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-underwriter-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984654950987:ios:eaf95d2270b12f7ba193ce</string>
</dict>
</plist>